In [2]:
import pandas as pd
data = pd.read_csv("../datasets/distributed-data/001.csv")

In [3]:
filepath = "../datasets/distributed-data/"

data = pd.read_csv(filepath+"001.csv")

for i in range(2,333):
    if i < 10:
        filename = "00"+str(i)
    elif i < 100:
        filename = "0"+str(i)
    else:
        filename = str(i)
    file_path = filepath+filename+".csv"
    temp_data =pd.read_csv(file_path)
    data = pd.concat([data, temp_data], axis=0)

In [4]:
data.shape

(772087, 4)

In [5]:
data.tail(3)

           Date  sulfate  nitrate   ID
728  2004-12-29      NaN      NaN  332
729  2004-12-30      NaN      NaN  332
730  2004-12-31      NaN      NaN  332